<div class="bg-neutral-900 p-10 pt-24 text-slate-300 translate-y-[-8rem]">
    <div class="container mx-auto flex flex-col sm:flex-row">
        <div class="text-sm max-w-sm">
            <div class="bg-primary w-12 h-5 my-4"></div>
            <a class="text-4xl font-bold text-slate-100" href="/">TO-D 杂志</a>
            <div class="py-6">
                专注于探讨全球 To-D 领域相关产品、创业公司、融资等资讯的专栏杂志。
            </div>
        </div>
        <div class="flex flex-col sm:flex-row sm:justify-around grow">
            <div class="pt-12 sm:pt-0">
                <div class="bg-primary w-5 h-5 my-4"></div>
                <div class="text-xl font-bold mb-4">责任编辑</div>
                <a class="my-2 block hover:underline" href="https://twitter.com/_hisriver">@Folyd</a>
            </div>
            <div class="pt-12 sm:pt-0">
                <div class="bg-primary w-5 h-5 my-4"></div>
                <div class="text-xl font-bold mb-4">更多</div>
                <a class="my-2 block hover:underline" href="/about">关于杂志</a>
                <a class="my-2 block hover:underline" href="/blog">博客</a>
                <a class="my-2 block hover:underline" href="https://github.com/zineland/2d2d">Github</a>
            </div>
        </div>
    </div>
</div>
<div class="absolute bottom-0 left-0 right-0 h-36 bg-neutral-900">
    <div class="text-xs text-slate-400 text-center mt-12">
        Copyright © 2022 TO-D 杂志
    </div>
</div>
<link rel="stylesheet" href="/static/footer.css">